body{
	background-color: #f5f5f5;
}

.container{
	width: 860px;
	margin: auto;
}

.container-900{
	width: 900px;
	margin: auto;
}

p{
	font-family: arial;
	font-size: 13px;
	line-height: 20px;
	color: #4e4e4e;
}

h1,h2,h3,h4,h5,h6{
	font-family: "Myriad Pro Light"
}

h1{	
	font-size: 40px;
}

h2{
	font-size: 28px;
}

h3{
	font-size: 24px;
}

h4{
	font-size: 20px;
}

.bold{
	font-weight: bold;
}

a{
	color: #a369c4;
}

.black-text a{
	color: #000;
}

a.black-text{
	color: #000;
}

.left{
	float: left;
}

.right{
	float: right;
}

.half{
	width: 430px;
}

/*-------------------------------header-------------------------------*/

.header{
	width: 100%;
	background-image: url(images/background-top.png);
	height: 285px;
}

.header p{
	color: #9688a7;
}

.header a {
	text-decoration: none;
}

.header h1{
	color: #fff;
	line-height: 35px;
}

.navbar{
	clear: right;
}

.navbar li{
	display: inline-block;
	text-decoration: none;
}

.header .navbar{
	margin-top: 15px;
}

.header .navbar a{
	color: #fff;
	text-shadow: 2px 2px 2px #714699;
}

.header .navbar a{
	padding: 6px;
}

.active-page{
	border-radius: 5px;
	background-color: #fff;
}

.navbar a.active-page {
	color: #764e95;
	text-shadow: 2px 2px 2px #dadada;
	box-shadow: 0px -14px 18px -2px #b3b3b3 inset,2px 2px 11px 2px #7c4fa5;
}

.header .navbar .vert-div{
	border-left: 1px solid #9f74bf;
	margin-left: 12px;
	margin-right: 7px;
	height: 20px;
	position: relative;
	top: 4px;
}

.logo{
	width: 189px;
	height: 51px;
	margin-top: 15px;
	display: inline-block;
}

.logo h1{
	font-family: "Trebuchet MS";
	color: #f2f2f2;
	display: inline-block;
	margin: 0px;
	padding-top: 5px;
}

.logo img{
	display: inline-block;
	border-radius: 6px;
}

.box-shadow{
	box-shadow: 2px 2px 11px 2px #251c33;
}

.text-shadow{
	text-shadow:2px 2px 11px #251c33;
}

#large-img img{
	float: right;
	padding-right: 50px;
	/*max-width: 100%;*/
}

#large-img{
	width: 48%;
	max-height: 499px;
}

/*-------------------------------first-setion-------------------------------*/
.first-section{
	padding-top: 15px;
	padding-bottom: 30px;
	border-bottom: 1px solid #e5e5e5;
}

.first-section .vert-div{
	height: 40px;
	border-left: 1px solid #dfdfdf;
	margin-left: 10px;
	margin-right: 15px;
}

.number-button{
	background-image: url(images/button.png);
	width: 41px;
	height: 28px;
	display: inline-block;
	padding-top: 13px;
	text-align: center;
	color: #fff;
}

.number-list p{

}

.no-decoration{
	text-decoration: none;
}


/*-------------------------------main-------------------------------*/


.dark-grey{
	color: #4e4e4e;
}

.grey{
	color: #8e8e8e;
}

.purple-box{
	width: 253px;
	height: 51px;
	background-image: url(images/purple-box.png);
	padding-left: 21px;
	color: #fff;
}
.purple-box h3{
	margin: 0px;
	padding-top: 10px;
}


.list-decorated li{
	list-style-image: url(images/list-img.png);
}

.list-arrow li{
	list-style-image: url(images/list-arrow.png);
}

.post{
	margin-left: 37px;
	width: 153px;
}

img.picture{
	padding: 3px;
	border: 1px solid #bfbfbf;
}

.three-column{
	margin-top: 40px;
	margin-bottom: 40px;
}

.three-column .three-column{
	width: 271px;
	display: inline-block;
	margin-left: 39px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.three-column .three-column:first-of-type{
	margin-left: 0px;
}

.three-column p{
	margin-left: 20px;
}

.three-column ul{
	padding-left: 50px;
}

.three-column li{
	padding-left: 7px;
}

/*.first-on-line{
	margin-left: 0px;
}*/

.clear{
	clear: both;
}

/*-------------------------------footer-------------------------------*/

.footer{
	width: 100%;
	border-top: 1px solid #e5e5e5;
	clear: both;
}

.footer a{
	color: #4e4e4e;
}

.footer .navbar a{
	height: 41px;
}

.vert-div{
	display: inline-block;
}

.footer .navbar .vert-div{
	border-left: 1px solid #4e4e4e;
	margin-left: 60px;
	margin-right: 61px;
	height: 10px;
}

.bottom{
	width: 100%;
	background-image: url(images/background-top.png);
	text-align: center;
	height: 68px;
	padding-top: 25px;
}

.footer p{
	color: #dfd2e7;
	margin: 0px;
	margin-bottom: 6px;
}

.bottom a{
	color: #fff;
}